$link-color:rgba(255,255,255,0.7);
$background-dropdown:rgba(26,26,26,0.9);
$color-link-dropdown:#999;
$button-color-submit:#d8d8d8;
$button-backgroundcolor-submit:rgba(17,17,17,0.8);
$black:#111;
$white:#fff;
$grey-lighter:hsl(0, 0%, 71%);


